$body: #f7faff;
$main: #f7faff;
$secondary : #EEEEEE;
$cardColor: #f6f9fe;
$tertiary: #E0E0E0;
$dark: #212121;
$textWhite: #f1f1f1;
$textDark: #232323;
$accent: #b00752;
$hint: #737373;
$red: rgb(237, 79, 79);
$green: rgb(16, 185, 129);