name: Deploy
on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            deployments: write
        name: Deploy
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 22.22.0
            - name: Build
              run: npm i && npm run build
            - name: Publish
              uses: cloudflare/wrangler-action@v3.14.1
              with:
                  apiToken: ${{ secrets.CF_PAGES_TOKEN }}
                  accountId: ${{ secrets.CF_ACCOUNT_ID }}
                  command: pages publish ./build/ --project-name=asm-editor
